

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    background-color: #FAF4D3;
    font-family: 'Poppins', sans-serif;
    color: #016A74;
    border: 6px solid #0C1618;
}

p {
  color: black;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;          

}

h1 {
  font-family: 'Acme', sans-serif;
  text-align: center;
  color: #016A74;
  
}

h2 {
 
font-family: 'Acme', sans-serif;
  text-align: left;
  color: #016A74;
 
}

h3 {
 font-family: 'kaushan_scriptregular';
color: #016A74
}



li {
    font-size: 20px;
    color: red;
    font-family: 'Roboto Flex', sans-serif;
    color: #016A74;
  

}


figcaption {
    font-size: 1em;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 0.95em;
    color: #0C1618;
  
}


p > span {
    color: #016A74;
  
}

.main {
  font-size: 16px;
  }

.right {
 float: right;
 padding: 45px 20px 20px 0;
}

#contact {
font-size: 14px;
font-family: 'Roboto Flex', sans-serif;
text-align: left;
color: #016A74; 

}

#fig0 

{
  
  text-align: center;

}
  
#fig1 {
  
  text-align: center;

}



 #figure
 {
 float: left;
 padding: 0 10px 10px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

p > span {
    color: #0C1618;    
    
}




.left {
 float: left;
 padding: 0 10px 10px 0;
}
